<a href="https://colab.research.google.com/github/puzlike/expert-octo-telegram/blob/main/csv_merge1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [22]:
df_list = []
def to_df_list(df):
    df_list.append(df)
    return df_list

In [23]:
import pandas as pd
f1 = pd.read_csv('f1.csv')

In [24]:
f2 = pd.read_csv('f2.csv')
df_list = to_df_list(f2)
print(df_list)

[     name  p2
0  tanaka  ff
1    sato  ee
2    hoso  gh]

In [25]:
f3 = pd.read_csv('f3.csv')
df_list = to_df_list(f3)
print(df_list)

[     name  p2
0  tanaka  ff
1    sato  ee
2    hoso  gh,      name  p3
0  tanaka  xx
1    sato  tt
2  suzuki  aa
3    hoso  ll]

In [26]:
newf = f1.copy()
for df in df_list:
    newf = pd.merge(newf, df, on="name", how="outer")
newf

     name   ID   p1   p2  p3
0  tanaka  1.0   aa   ff  xx
1    sato  2.0   ax   ee  tt
2  suzuki  3.0   cf  NaN  aa
3    hoso  NaN  NaN   gh  ll

In [27]:
newf.to_csv('newf.csv')