<a href="https://colab.research.google.com/github/puzlike/expert-octo-telegram/blob/main/dataframe.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
store_data = {
"store": ["shibuya", "shinjuku", "yokohama", "meguro", "ikebukuro"],
"ID": [1, 2, 3, 4, 5]
}
store_df = pd.DataFrame(store_data) # store_dfを作成

data = {"ID": [1, 2, 3, 3, 2, 1],
"product": ["banana", "orange", "orange", "grape", "banana", "peach"],
"price": [200, 1000, 800, 100, 250, 900],
"quantity": [1, 2, 1, 2, 3, 2]}
df = pd.DataFrame(data) # dfを作成

print(df) # dfを出力
print()
print(store_df) # store_dfを出力
print()

   ID product  price  quantity
0   1  banana    200         1
1   2  orange   1000         2
2   3  orange    800         1
3   3   grape    100         2
4   2  banana    250         3
5   1   peach    900         2

       store  ID
0    shibuya   1
1   shinjuku   2
2   yokohama   3
3     meguro   4
4  ikebukuro   5

In [3]:
# 問題1
# dfのインデックスが０から４までの要素、カラム名を出力してください。
df_1 = df.iloc[:5]
print(df_1)
print()

   ID product  price  quantity
0   1  banana    200         1
1   2  orange   1000         2
2   3  orange    800         1
3   3   grape    100         2
4   2  banana    250         3

In [6]:
# 問題2
# df とstore_dfをkeyをIDとして完全外部結合してください。
df_2 = pd.merge(df, store_df, on='ID', how='outer')
print(df_2)
print()

   ID product   price  quantity      store
0   1  banana   200.0       1.0    shibuya
1   1   peach   900.0       2.0    shibuya
2   2  orange  1000.0       2.0   shinjuku
3   2  banana   250.0       3.0   shinjuku
4   3  orange   800.0       1.0   yokohama
5   3   grape   100.0       2.0   yokohama
6   4     NaN     NaN       NaN     meguro
7   5     NaN     NaN       NaN  ikebukuro

In [10]:
# 問題3
# df とstore_dfをkeyをIDとして内部結合してください。
df_3 = pd.merge(df, store_df, on='ID', how='inner')
print(df_3)
print()

   ID product  price  quantity     store
0   1  banana    200         1   shibuya
1   1   peach    900         2   shibuya
2   2  orange   1000         2  shinjuku
3   2  banana    250         3  shinjuku
4   3  orange    800         1  yokohama
5   3   grape    100         2  yokohama

In [14]:
# 問題4
# 問題3の回答にて作成したdf_3とgroupbyメソッドを用いてstore毎のID、price、quantityの平均値を出力してください。
df_4 = df_3[['store', 'ID', 'price', 'quantity']].groupby('store').mean()
print(df_4)
print()

           ID  price  quantity
store
shibuya   1.0  550.0       1.5
shinjuku  2.0  625.0       2.5
yokohama  3.0  450.0       1.5

In [15]:
# 問題5
# 問題3の回答にて作成したdf_3とdescribeメソッドを用いてID、price、quantityの要約統計量を出力してください。
df_5 = df_3[['ID', 'price', 'quantity']].describe()
print(df_5)

             ID        price  quantity
count  6.000000     6.000000  6.000000
mean   2.000000   541.666667  1.833333
std    0.894427   400.520495  0.752773
min    1.000000   100.000000  1.000000
25%    1.250000   212.500000  1.250000
50%    2.000000   525.000000  2.000000
75%    2.750000   875.000000  2.000000
max    3.000000  1000.000000  3.000000