<a href="https://colab.research.google.com/github/puzlike/expert-octo-telegram/blob/main/Merge_Data.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
from pandas import Series, DataFrame
import pandas as pd

attri_data1 = {'ID': ['1', '2', '3', '4', '5'],
               'Sex': ['F', 'F', 'M', 'M', 'F'],
               'Money': [1000, 2000, 5000, 3000, 7000],
               'Name': ['Saito', 'Horie', 'Kondo', 'Kawada', 'Matsubara']}
attri_data_frame1 = DataFrame(attri_data1)

In [12]:
attri_data2 = {'ID': ['3', '4', '7'],
               'Math': [60, 30, 40],
               'Engrish': [80, 20, 30]}
attri_data_frame2 = DataFrame(attri_data2)

merge_data = pd.merge(attri_data_frame1, attri_data_frame2, on='ID')
print (merge_data)

ave_Money = merge_data["Money"].sum() / len(merge_data)
ave_Math = merge_data["Math"].sum() / len(merge_data)
ave_Engrish = merge_data["Engrish"].sum() / len(merge_data)
print("Money",ave_Money)
print("Math",ave_Math)
print("Engrish",ave_Engrish)

  ID Sex  Money    Name  Math  Engrish
0  3   M   5000   Kondo    60       80
1  4   M   3000  Kawada    30       20
Money 4000.0
Math 45.0
Engrish 50.0