<a href="https://colab.research.google.com/github/puzlike/expert-octo-telegram/blob/main/prodact_lane.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [17]:
import pandas as pd
from datetime import datetime
from dateutil.relativedelta import relativedelta
df = pd.read_excel('prodact_lane.xlsx')

def conv_date(ts):
    str = ts.isoformat()
    return datetime.strptime(str[:10], '%Y-%m-%d')

df.insert(1, '日付', df['日時'].map(conv_date))
display(df)

today = df['日付'].iloc[0]
nextday = today + relativedelta(days= 1)
print(nextday)

                   日時         日付  生産レーン1  生産レーン2  生産レーン3  生産レーン4  生産レーン5
0 2023-02-05 21:00:00 2023-02-05    10.0    12.0    24.0    11.0    45.0
1 2023-02-05 22:00:00 2023-02-05    22.0    34.0    55.0    55.0    67.0
2 2023-02-05 23:00:00 2023-02-05    30.0    56.0    44.0    33.0    34.0
3 2023-02-06 00:00:00 2023-02-06    11.0    43.0    23.0    22.0    67.0
4 2023-02-06 01:00:00 2023-02-06    55.0    22.0    56.0    67.0    23.0
5 2023-02-06 02:00:00 2023-02-06    23.0    30.0    43.0    45.0    89.0
6 2023-02-06 03:00:00 2023-02-06    19.0    11.0    21.0    23.0    22.0
7 2023-02-06 04:00:00 2023-02-06    25.0    23.0    65.0    12.0    34.0
8 2023-02-06 05:00:00 2023-02-06    56.0    45.0    34.0    11.0    56.0

2023-02-06 00:00:00